Makefile.in
aclocal.m4
autom4te.cache/
configure
INSTALL
config.guess
config.sub
scripts/compile
scripts/depcomp
scripts/missing
scripts/ltmain.sh
scripts/install-sh
config.h.in*
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/stp_release.m4
m4/po.m4
po/ChangeLog
po/Makevars.template
scripts/test-driver
scripts/ylwrap
ABOUT-NLS~
po/Makefile.in.in~
po/Makevars.template~
po/Rules-quot~
scripts/config.rpath~
